.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 ;
    background-color: #8d8989;
    /* text-align: center;
    background-color: #8d8989;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 1000px;
    height: 500px;
    margin: 0 auto; */
}
.ff{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .card {
        width: 95%;
        height: 100%;
        font-size: 10px;
    }
    img{
        width: 100px;
        height: 100px;
    }
}
.ttt{
    table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        border: 1px solid #333;
        padding: 8px;
        text-align: center;
      }
}
.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   margin: 10px;
}